aiohttp
aiofiles
ffmpeg-python
gTTS
cryptography
dnspython
future
googletrans==4.0.0-rc1
motor
pillow
psutil
pykeyboard
pyrogram
python-arq
requests
search_engine_parser
speedtest-cli
TgCrypto
uvloop
youtube_dl
bs4
wget
python-dotenv
feedparser
pyromod
ffmpeg-python
python-dotenv
youtube_search_python
pytgcalls==3.0.0.dev19
git+https://github.com/pyrogram/pyrogram@master
